Repository Mesteriis/crypto-inspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-sync, sync-requirements

check-version-sync:
  name: Check version synchronization
  entry: scripts/check-version-sync.sh
  language: script
  pass_filenames: false

sync-requirements:
  name: Sync requirements.txt from pyproject.toml
  entry: scripts/sync-requirements.sh
  language: script
  pass_filenames: false

feat: add 50 HA automations for crypto monitoring
  ha/automations/README.yaml
  ha/automations/briefings_events.yaml
  ha/automations/dca_strategy.yaml
  ha/automations/market_sentiment.yaml
  ha/automations/portfolio_risk.yaml
  ha/automations/price_alerts.yaml
  ha/automations/technical_analysis.yaml
  ha/automations/whale_onchain.yaml
Due: none

feat: add compact dashboard to ha/dashboards
  ha/dashboards/crypto_compact.yaml
Due: none

refactor: consolidate dashboards into single view
  ha/dashboards/advanced_analytics.yaml
  ha/dashboards/alerts_signals.yaml
  ha/dashboards/backtesting.yaml
  ha/dashboards/cards/README.yaml
  ha/dashboards/crypto_charts.yaml
  ha/dashboards/crypto_compact.yaml
  ha/dashboards/crypto_inspect.yaml
  ha/dashboards/crypto_master.yaml
  ha/dashboards/market_overview.yaml
  ha/dashboards/portfolio_dashboard.yaml
  ha/dashboards/technical_analysis.yaml
  ha/dashboards/tradingview_charts.yaml
  ha/dashboards/traditional_markets.yaml
  ha/dashboards/unlock_events.yaml
  ha/dashboards/views/adaptive_notifications.yaml
  ha/dashboards/views/ai_analytics.yaml
  ha/dashboards/views/correlation_analysis.yaml
  ha/dashboards/views/detailed.yaml
  ha/dashboards/views/economic_calendar.yaml
  ha/dashboards/views/gas_prices.yaml
  ha/dashboards/views/power_user.yaml
  ha/dashboards/views/summary.yaml
  ha/dashboards/views/system_diagnostics.yaml
  ha/dashboards/widget.yaml
  uv.lock
Due: none

feat: support separate crypto_inspect.yaml config file
  src/core/config.py
Due: none

chore: bump version to 0.2.31
  config.yaml
  pyproject.toml
Due: check-version-sync, sync-requirements

fix: DB sensor persistence and task retention
  src/models/repositories/sensor_state.py
  src/service/ha/core/publisher.py
  uv.lock
Due: none

chore: bump version to 0.2.32
  config.yaml
  pyproject.toml
Due: check-version-sync, sync-requirements

fix: Bollinger Bands tuple handling and add BTC dominance fetch
  config.yaml
  pyproject.toml
  scripts/run_all_jobs.py
  src/core/scheduler/jobs.py
Due: check-version-sync, sync-requirements

feat: Add Bybit Earn PnL sensors (bybit_earn_pnl, bybit_earn_claimable)
  config.yaml
  pyproject.toml
  src/core/scheduler/jobs.py
  src/service/ha/categories/bybit.py
Due: check-version-sync, sync-requirements

fix: Update sensors to return all currencies instead of BTC only
  config.yaml
  pyproject.toml
  src/core/scheduler/jobs.py
  uv.lock
Due: check-version-sync, sync-requirements

fix: Update tp_levels sensor to return all currencies
  config.yaml
  pyproject.toml
  src/core/scheduler/jobs.py
Due: check-version-sync, sync-requirements

fix: Populate empty sensors - unified_sensors, volumes_24h, highs_24h, lows_24h
  config.yaml
  pyproject.toml
  src/core/scheduler/jobs.py
  src/service/unified_sensors.py
Due: check-version-sync, sync-requirements

fix: Add AI trend sensors call in ai_analysis_job, fix TrendAnalysis attribute access
  config.yaml
  pyproject.toml
  src/core/scheduler/jobs.py
  src/service/ha/core/manager.py
Due: check-version-sync, sync-requirements

fix: ML model caching and fallback for container environment
  config.yaml
  pyproject.toml
  rootfs/etc/s6-overlay/s6-rc.d/crypto-inspect/run
  src/service/ml/forecaster.py
Due: check-version-sync, sync-requirements

fix: normalize symbol format correctly (BTCUSDT -> BTC/USDT)
  src/service/ha/core/manager.py
  tests/unit/test_scheduler_jobs.py
Due: none

release: v1.0.1 - Symbol Format Fix
  CHANGELOG.md
  config.yaml
  pyproject.toml
Due: check-version-sync, sync-requirements

fix: HA ingress support and custom component hostname
  config.yaml
  custom_components/crypto_inspect/const.py
  src/main.py
Due: check-version-sync

feat: ESPHome Native API server for HA auto-discovery
  config.yaml
  pyproject.toml
  src/core/config.py
  src/main.py
  src/service/esphome_api/__init__.py
  src/service/esphome_api/discovery.py
  src/service/esphome_api/messages.py
  src/service/esphome_api/protocol.py
  src/service/esphome_api/server.py
  uv.lock
Due: check-version-sync, sync-requirements

release: v1.1.0 - ESPHome Native API
  CHANGELOG.md
  config.yaml
  pyproject.toml
Due: check-version-sync, sync-requirements

Path conditions:
  check-version-sync: any of: ^(pyproject\.toml|config\.yaml)$
  sync-requirements: any of: ^pyproject\.toml$
